<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.AccentColor" title="@Strings.AccentColorTitle">
        <settingConfig type="list">
            <listEntry value="0xB77CFF">@Strings.ColorPurple</listEntry>
            <listEntry value="0x55AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x00DDCC">@Strings.ColorCyan</listEntry>
            <listEntry value="0x55FF99">@Strings.ColorGreen</listEntry>
            <listEntry value="0x3DA855">@Strings.ColorFieldGreen</listEntry>
            <listEntry value="0xFFEE44">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFCC33">@Strings.ColorGold</listEntry>
            <listEntry value="0xFFAA55">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFF5566">@Strings.ColorRed</listEntry>
            <listEntry value="0xFF77BB">@Strings.ColorPink</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TopLeftMetric" title="@Strings.TopLeftMetricTitle">
        <settingConfig type="list">
            <listEntry value="4">@Strings.MetricAltitude</listEntry>
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="2">@Strings.MetricBattery</listEntry>
            <listEntry value="1">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="12">@Strings.MetricWeather</listEntry>
            <listEntry value="7">@Strings.MetricPressure</listEntry>
            <listEntry value="6">@Strings.MetricSpO2</listEntry>
            <listEntry value="8">@Strings.MetricBodyBattery</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="10">@Strings.MetricSunrise</listEntry>
            <listEntry value="11">@Strings.MetricSunset</listEntry>
            <listEntry value="14">@Strings.MetricSunriseSunset</listEntry>
            <listEntry value="13">@Strings.MetricRespiration</listEntry>
            <listEntry value="15">@Strings.MetricWeeklyRun</listEntry>
            <listEntry value="16">@Strings.MetricMonthlyRun</listEntry>
            <listEntry value="17">@Strings.MetricNotifications</listEntry>
            <listEntry value="18">@Strings.MetricRecoveryTime</listEntry>
            <listEntry value="19">@Strings.MetricWeeklyIntensity</listEntry>
            <listEntry value="20">@Strings.MetricMonthlyIntensity</listEntry>
            <listEntry value="21">@Strings.MetricWeeklyVigorous</listEntry>
            <listEntry value="22">@Strings.MetricMonthlyVigorous</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TopRightMetric" title="@Strings.TopRightMetricTitle">
        <settingConfig type="list">
            <listEntry value="2">@Strings.MetricBattery</listEntry>
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="4">@Strings.MetricAltitude</listEntry>
            <listEntry value="1">@Strings.MetricHeartRate</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="12">@Strings.MetricWeather</listEntry>
            <listEntry value="7">@Strings.MetricPressure</listEntry>
            <listEntry value="6">@Strings.MetricSpO2</listEntry>
            <listEntry value="8">@Strings.MetricBodyBattery</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="10">@Strings.MetricSunrise</listEntry>
            <listEntry value="11">@Strings.MetricSunset</listEntry>
            <listEntry value="14">@Strings.MetricSunriseSunset</listEntry>
            <listEntry value="13">@Strings.MetricRespiration</listEntry>
            <listEntry value="15">@Strings.MetricWeeklyRun</listEntry>
            <listEntry value="16">@Strings.MetricMonthlyRun</listEntry>
            <listEntry value="17">@Strings.MetricNotifications</listEntry>
            <listEntry value="18">@Strings.MetricRecoveryTime</listEntry>
            <listEntry value="19">@Strings.MetricWeeklyIntensity</listEntry>
            <listEntry value="20">@Strings.MetricMonthlyIntensity</listEntry>
            <listEntry value="21">@Strings.MetricWeeklyVigorous</listEntry>
            <listEntry value="22">@Strings.MetricMonthlyVigorous</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.BottomLeftMetric" title="@Strings.BottomLeftMetricTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.MetricHeartRate</listEntry>
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="4">@Strings.MetricAltitude</listEntry>
            <listEntry value="2">@Strings.MetricBattery</listEntry>
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="12">@Strings.MetricWeather</listEntry>
            <listEntry value="7">@Strings.MetricPressure</listEntry>
            <listEntry value="6">@Strings.MetricSpO2</listEntry>
            <listEntry value="8">@Strings.MetricBodyBattery</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="10">@Strings.MetricSunrise</listEntry>
            <listEntry value="11">@Strings.MetricSunset</listEntry>
            <listEntry value="14">@Strings.MetricSunriseSunset</listEntry>
            <listEntry value="13">@Strings.MetricRespiration</listEntry>
            <listEntry value="15">@Strings.MetricWeeklyRun</listEntry>
            <listEntry value="16">@Strings.MetricMonthlyRun</listEntry>
            <listEntry value="17">@Strings.MetricNotifications</listEntry>
            <listEntry value="18">@Strings.MetricRecoveryTime</listEntry>
            <listEntry value="19">@Strings.MetricWeeklyIntensity</listEntry>
            <listEntry value="20">@Strings.MetricMonthlyIntensity</listEntry>
            <listEntry value="21">@Strings.MetricWeeklyVigorous</listEntry>
            <listEntry value="22">@Strings.MetricMonthlyVigorous</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.BottomRightMetric" title="@Strings.BottomRightMetricTitle">
        <settingConfig type="list">
            <listEntry value="3">@Strings.MetricSteps</listEntry>
            <listEntry value="0">@Strings.MetricNone</listEntry>
            <listEntry value="4">@Strings.MetricAltitude</listEntry>
            <listEntry value="2">@Strings.MetricBattery</listEntry>
            <listEntry value="1">@Strings.MetricHeartRate</listEntry>
            <listEntry value="5">@Strings.MetricCalories</listEntry>
            <listEntry value="12">@Strings.MetricWeather</listEntry>
            <listEntry value="7">@Strings.MetricPressure</listEntry>
            <listEntry value="6">@Strings.MetricSpO2</listEntry>
            <listEntry value="8">@Strings.MetricBodyBattery</listEntry>
            <listEntry value="9">@Strings.MetricStress</listEntry>
            <listEntry value="10">@Strings.MetricSunrise</listEntry>
            <listEntry value="11">@Strings.MetricSunset</listEntry>
            <listEntry value="14">@Strings.MetricSunriseSunset</listEntry>
            <listEntry value="13">@Strings.MetricRespiration</listEntry>
            <listEntry value="15">@Strings.MetricWeeklyRun</listEntry>
            <listEntry value="16">@Strings.MetricMonthlyRun</listEntry>
            <listEntry value="17">@Strings.MetricNotifications</listEntry>
            <listEntry value="18">@Strings.MetricRecoveryTime</listEntry>
            <listEntry value="19">@Strings.MetricWeeklyIntensity</listEntry>
            <listEntry value="20">@Strings.MetricMonthlyIntensity</listEntry>
            <listEntry value="21">@Strings.MetricWeeklyVigorous</listEntry>
            <listEntry value="22">@Strings.MetricMonthlyVigorous</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowSeconds" title="@Strings.ShowSecondsTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowDate" title="@Strings.ShowDateTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowDividers" title="@Strings.ShowDividersTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowLunar" title="@Strings.ShowLunarTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.BatteryDisplay" title="@Strings.BatteryDisplayTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.BatteryDisplayPercent</listEntry>
            <listEntry value="1">@Strings.BatteryDisplayEndurance</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.CustomAccentColor" title="@Strings.CustomAccentColorTitle" prompt="@Strings.CustomAccentColorPrompt" helpUrl="https://rgbcolorpicker.com">
        <settingConfig type="alphaNumeric" maxLength="7" />
    </setting>

</settings>
